#header {
  width: 100%;
  height: 100px;
  padding: 20px 10%;
  background: black;
}
  #header p {
    color: silver;
    padding-left: 30px;
    margin: 0px;
  }

#legend {
  color: white;
  padding: 5px;
}